.btn{
    background-color: rgb(126, 21, 21);
    color: white;
}
#game-buttons .btn{
    height: 30px;
    float: left;
}
#add-movie, #gif-input, #gif-input-label{
    float: left
}
#header{
    background: rgb(41, 41, 41);
    color: white
}
body{
background-color: black;
background-repeat: no-repeat;
background-size: 100%;
color: white;
background: url(../images/meow.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}